#classSelectionContainer {
  min-width: 1000px;
  margin: 0 3.5rem; /* vertical horizontal */
  padding-top: 2.4rem;
  text-align: start;
}

.classesGrid {
  min-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px solid #000000; */
}

#cardCreateClass {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 2px dashed var(--tertiary);
}

#cardCreateClass:hover {
  cursor: pointer;
  background: #E6E8EB;
}

.footer {
  position: absolute;
  height: 65px;
  width: 100%;
  bottom: 0;
  background: var(--grey);
  border-top: 1px solid #C1C3C5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#createClassButton {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-right: 20px;
  padding: 0.6rem 1.5rem;
  background: var(--primary);
  color: var(--light);
  font-weight: 600;
}

#createClassButton:hover {
  cursor: pointer;
  background: rgba(54, 75, 108, 0.95);
}

#backToLoginIcon {
  background: var(--primary);
  color: var(--light);
  margin-left: 17px;
  padding: 7px 8px 0 8px; /* top right bottom left */
  border-radius: 3px;
}

#backToLoginIcon:hover {
  cursor: pointer;
  background: rgba(54, 75, 108, 0.95);
}