/* design roughly inspired by gradescope's login page and other mockups */
/* the styles here are imported by LoginPage.jsx, AlternativeLogin.jsx, and AlternativeRegistration.jsx */

.background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: var(--light);
  background-image: url('../../assets/loginBackground.png');
  background-size: 100% 100%;
  min-height: 700px; /* this fixed height stops vertical resizing */
  min-width: 1000px;
  background-position: center;
  background-repeat: no-repeat;
}

#logoDark {
  position: absolute;
  right: 18%;
  bottom: 70%;
  aspect-ratio: auto;
  transform: scale(0.25);
}

/* sorry for writing media queries - couldn't get relative positioning to work for this logo :( */
@media (min-width: 1500px) {
  #logoDark {
    right: 25%
  }
}

@media (max-width: 1300px) {
  #logoDark {
    right: 8%;
  }
}

@media (max-width: 1100px) {
  #logoDark {
    right: -5%;
  }
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-weight: bold;
  height: 510px;
  width: 20%;
  min-width: 350px;
  background-color: var(--light);
  box-shadow: 0 10px 25px hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
}

#googleSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.2rem;
}

#googleSignIn img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.7rem;
}

.altSignIn {
  padding: 0.5rem;
  align-self: center;
  width: 45%;
  color: var(--dark-grey);
}

.smallText {
  font-size: 0.9rem;
  line-height: 2;
  font-weight: 550;
  font-style: italic;
}

#or {
  font-size: 1.05rem;
  color: var(--dark-grey);
  margin-top: 15px;
  margin-bottom: 5px;
}

/* this ::before ::after thing was inspired by gradescope's login page css */
#or::before {
  content: "";
  position: absolute;
  width: 13%;
  height: 2px;
  margin: 0 5px;
  margin-top: 13px;
  background: var(--dark-grey);
  right: 51.5%;
}

#or::after {
  content: "";
  position: absolute;
  width: 13%;
  height: 2px;
  margin: 0 5px;
  margin-top: 13px;
  background: var(--dark-grey);
  left: 51.5%;
}

#forgotPassword {
  text-decoration: underline;
  color: var(--dark-grey);
}

#forgotPassword:hover {
  color: var(--primary);
  cursor: pointer
}