.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--light);
  background-image: url('../../assets/loginBackground.png');
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-weight: bold;
  height: 70%;
  width: 20%;
  min-width: 350px;
  background-color: var(--light);
  box-shadow: 0 10px 25px hsla(0, 0%, 0%, 0.3);
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
}

#googleSignIn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1.2rem;
  margin-top: 12rem;
}

#googleSignIn img {
  width: 3rem;
  height: 3rem;
  margin-right: 0.7rem;
}