/* @jac927 07/20/24 | I would HIGHLY recommend you check out the below link to learn about css grid: */
/* Josh Comeau's dev blog: https://www.joshwcomeau.com/css/interactive-guide-to-grid/ */
.dashboardGrid {
   height: 1080px;
   width: 100%;
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-template-rows: 80px 400px 600px;
   /* border: 1px solid black; */
   background: var(--light);
}

/* all of the below children are descendants of the .dashboardGrid class */
/* !!!grid-row and grid-column proportions are accessed via 1-based indexing w/ an index overflow of 1!!! */

.dashboardHeader {
   grid-row: 1 / 2;
   grid-column: 1 / 5;
   /* border: 1px solid black; */
   background: var(--light);
}

/* for the main graph */
.lineGraph {
   /* border: 1px solid black; */
   grid-row: 2 / 3;
   grid-column: 1 / 5;
}

.pieChart {
   /* border: 1px solid black; */
   grid-row: 1 / 3;
   grid-column: 5 / 7;

   display: flex;
   justify-content: flex-start;
   align-items: center;
   margin-top: 15px;
}

.studentDataGrid {
   /* border: 1px solid black; */
   grid-row: 3 / 4;
   grid-column: 1 / 4;
}

.assignmentCards {
   /* border: 1px solid black; */
   grid-row: 3 / 4;
   grid-column: 4 / 7;
}

.headerDashboardContainer {
   height: 100%;
   width: 100%;
   padding-left: 50px;
   padding-right: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.assignmentHeaderCard {
   min-width: 200px;
   height: 70%;
   background-color: var(--grey);
   border-radius: 6px;
   margin-right: 75px;
   border: 3px solid var(--med-grey);

   display: flex;
   justify-content: center;
   align-items: center;
}