.flagContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.flagContainer img {
  /* specifying the behaviour of child img elements */
  margin: 0 7px;
  border: 2px solid #959595;
  border-radius: 3px;
  height: 35px;
  width: 60px;
  object-fit: cover;
}

/* active status is controlled by isLanguageSelected boolean */
.languageFlag.active {
  border: 2px solid var(--dark-grey);
}

.languageFlag:hover {
  border: 2px solid var(--dark-grey);
  cursor: pointer;
}