.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.sas{
    width:50%;
}
