/* TeacherProfile.css */
.profiles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-container {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.profile-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.profile-container p {
  font-size: 1.2em;
  margin: 10px 0;
}

.class-list {
  list-style-type: none;
  padding: 0;
}

.class-item {
  margin: 10px 0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.class-item p {
  margin: 5px 0;
}
