#root {
  margin: 0 auto;
  text-align: center;
}
body, html {
  margin: 0;
  padding: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 56px 56px 425px;
  gap: 10px;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
.adjustclass {
  grid-column: span 2;
  background-color: #ffffff;
  display: flex;
  gap: 5px;
}

.navbar {
  grid-column: span 2;
  background-color: #CCE882;
  overflow: hidden;
  padding: 0;
  margin: 0;
  height: 56px;
  width: 100%;
  display: flex;
  gap: 20px;
}

/* Add a color to the active/current link */
.navbar a.imgs {
  padding: 0px;
}
.navbar img {
  height: 56px; /* adjust the height as needed */
  vertical-align: middle;
}
.sss {
  position: relative;
  color: #CCE882;
  border-radius: 25px;
  margin-top: 10px;
}

.MuiDataGrid-columnHeaders{
  background-color: #E4F5B8;
}
.completionTime {
  grid-column: span 1;
  padding: 12px;
  overflow: hidden;
  background-color: #CCE882;
}
.dayrange {
  background-color: #CCE882;
  height: 35px;
  padding: 10px;
  border-radius: 15px;
}
/* #button22{
  width: 1px;
} */