#root {
/*   width: 100vw;
  min-height: 100vh;  */
  text-align: center;
  background: var(--light);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 1000px;
}

.mainFooter {
  /* positioning the footer relative to the mainContainer flexbox so it is no longer sticky */
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  /* border: 1px solid black; */
  background: var(--grey);

  /* text font for the children */
  color: var(--black-light);
  font-size: 0.9rem;
  font-weight: 600;
}

#contactSupport:hover {
  cursor: pointer;
  color: var(--black-dark);
  text-decoration: underline;
}

#copyrightFooter:hover {
  cursor: pointer;
  color: var(--black-dark);
}

.mainFooter a {
  /* overriding default behaviour of links here */
  color: var(--black-light);
}



.grid-container { /* marked */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 56px 56px auto auto;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.adjustclass { /* marked */
  grid-column: span 2;
  background-color: #ffffff;
  display: flex;
  gap: 5px;
  border: 1px solid black;
}

.chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  overflow: scroll;
  font-family: "Monsterrat", sans-serif;
}