/* root applies globally, is overriden by the #root selector referenced in main.jsx */
:root {
   font-family: Monsterrat, sans-serif, Arial, system-ui;
   line-height: 1.15; /* line-height is basically spacing */
   font-weight: normal;
   font-size: 14px;
 
   /* some browser text optimization */
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 
   /* CSS HEX THEME*/
   --grey: #636B73;
   --dark: #4E4E4E;
   --accent: #cde6f7;
   --primary: #364b6c;
   --secondary: #88a7d7;
   --tertiary: #c6d5ee;
   --quaternary: #58739d;
   --success: #81C244; 
   --warning: #C28644;
   --error: #C2445C;
   --light: #F8F9F9;
   --black: #1A1A1A;
 
   /* global color scheme */
   color-scheme: light;
   color: var(--black);
   background-color: var(--light);
}

html {
  box-sizing: border-box;
}

body, html {
  /* css page reset */
  margin: 0 auto;
  padding: 0;
  /* enable scrolling */
  overflow-x: auto; 
  overflow-y: auto;
  height: 100%;
}

h1 {
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
  color: var(--primary);
  text-shadow: 1px 1px 1px var(--black); /* taken from @robertbasic: https://stackoverflow.com/questions/2618192/how-to-create-nice-text-depth-shadow-effect-html */
}

h2 {
  font-size: 30px;
  font-weight: 550;
  margin: 0;
  line-height: 1.2;
  color: var(--primary);
}

textarea,
input,
button {
  font-size: 1.2rem;
  font-family: inherit;
  border: none;
  border-radius: 6px;
  padding: 0.9rem 1.8rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0.3rem;
  overflow: hidden;
}

button {
  background-color: #FFFFFF;
  color: var(--black);
  font-weight: 500;
  cursor: pointer;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 2px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  background-color: var(--light);
  color: var(--black);
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}