/* root applies globally, can be overriden by the #root selector in App.css */
:root {
  font-family: Montserrat, sans-serif, Arial, system-ui;
  line-height: 1.15; /* line-height is basically spacing */
  font-weight: normal;
  font-size: 14px;

  /* some browser text optimization */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* CSS HEX THEME - see: https://color.adobe.com/create/color-wheel */
  --grey: #EBEDF0;
  --dark-grey: #4E4E4E;
  --accent: #cde6f7;
  --primary: #364b6c;
  --secondary: #88a7d7;
  --tertiary: #c6d5ee;
  --quaternary: #58739d;
  --black-light: #313131;
  --black-dark: #1A1A1A;
  --light: #F8F9F9;
  --purple: #6B3654;

  /* these are based on the primary color */
  --success: #5C9E59; 
  --warning: #D7B879;
  --error: #D88679;
  

  /* global color scheme */
  color-scheme: light;
  color: var(--black-dark);
  background-color: var(--light);
}

html {
  box-sizing: border-box;
}

body, html {
  /* css page reset */
  margin: 0 auto;
  padding: 0;
  /* enable scrolling */
  overflow-x: auto; 
  overflow-y: auto;
  height: 100%; /* to stop vertical page resizing */
}

a {
  text-decoration: none;
}

h1 {
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
  color: var(--primary);
  text-shadow: 1px 1px 1px #000000; /* taken from @robertbasic: https://stackoverflow.com/questions/2618192/how-to-create-nice-text-depth-shadow-effect-html */
}

h2 {
  font-family: Montserrat;
  font-size: 2.2rem;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
  color: var(--black-dark);
}

h4 {
  font-family: Montserrat;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--black-light);
}

/* styling for textarea, input, and button taken from the react-router tutorial. */
/* see: https://gist.githubusercontent.com/ryanflorence/ba20d473ef59e1965543fa013ae4163f/raw/499707f25a5690d490c7b3d54c65c65eb895930c/react-router-6.4-tutorial-css.css */
textarea,
input,
button,
select {
  font-size: 1.2rem;
  font-family: Montserrat;
  border: none;
  border-radius: 6px;
  padding: 0.9rem 1.8rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: #FFFFFF;
  line-height: 1.5;
  margin: 0.3rem;
  overflow: hidden;
}

button {
  font-family: Montserrat;
  background-color: #FFFFFF;
  color: var(--dark-grey);
  font-weight: 600;
  cursor: pointer;
}

textarea:hover,
input:hover,
button:hover,
select:hover {
  box-shadow: 0 0px 2px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  background-color: var(--light);
  color: var(--black-dark);
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

p {
  line-height: 1.3;
  margin: 0.4rem 0;
  font-family: Montserrat;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--black-light);
}